.contact {
  height: 80dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	border-top: var(--lborder);
}

.c-wrapper {
  height: 100%;
  width: 100%;
  max-width: 1440px;
	display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 32px 5rem;
	border-top: 1px solid var(--dborder);
}

.c-text-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.c-form-wrapper {
	flex: 1;
}

.c-heading {
	font-size: 32px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--dbrown);
}

.c-info {
	margin-top: 24px;
	font-size: 16px;
	line-height: 1;
	color: var(--lbrown);
}

.min-o-info {
	max-width: max-content;
	margin-top: 24px;
	border: 1px solid var(--lbrown);
	padding: 8px;
}

.o-info {
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: var(--dbrown);
}

.o-form {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.i-wrapper {
	display: flex;
	flex-direction: column;
}

.i-label {
	text-transform: capitalize;
}

.o-form input:not([type="button"]) {
	padding: 4px 8px;
	padding-left: 0;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid var(--dbrown);
	color: var(--lbrown);
	background-color: var(--cream);
}

.o-form input:focus {
	outline: none;
}

.o-form input::placeholder {
	color: var(--lbrown);
}

.o-form textarea {
	min-height: 35px;
	height: 35px;
	padding: 4px 8px;
	padding-left: 0;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid var(--dbrown);
	color: var(--lbrown);
	background-color: var(--cream);
	resize: none;
	overflow: hidden;
	pointer-events: none;
}

.o-form textarea:focus {
	outline: none;
}

.o-form textarea::placeholder {
	color: var(--lbrown);
}

.total-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.o-total {
	font-size: 16px;
}

.o-btn {
	margin-top: 16px;
}