@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--lbrown);
  background: var(--cream);
}

html {
  font-size: 16px;
}

:root {
  --black: #1F1B18;
  --dbrown: #3A2418;
  --lbrown: #5F3B2C;
  --cream: #F4E8D5;
}

@font-face {
  font-family: 'windhavi';
  src: url('./assets/fonts/windhavi.regular.otf');
}

::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid var(--dbrown);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lbrown);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: var(--dbrown);
}

.cta {
  padding: 4px 16px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--lbrown);
  border-radius: 24px;
  color: var(--lbrown);
  background-color: var(--cream);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s linear, border-color 0.3s ease;
}

.cta:hover {
  border-color: var(--dbrown);
  color: var(--dbrown);
}

.cta:active, button:focus {
  border-color: var(--lbrown);
  color: var(--cream);
  background-color: var(--lbrown);
}