header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  padding: 16px 24px;
  border-bottom: 1px solid var(--dbrown);
  background-color: var(--cream);
}

nav {
  display: flex;
  align-items: center;
  column-gap: 4rem;
}

li a {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--lbrown);
  transition: color 0.3s ease, font-weight 0.3s ease;
}

li a.active {
  font-weight: 600;
  color: var(--dbrown);
}

li:hover a {
  color: var(--dbrown);
}

.logo {
  width: 150px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

a button {
  padding: 4px 16px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--lbrown);
  border-radius: 24px;
  color: var(--lbrown);
  background-color: var(--cream);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s linear, border-color 0.3s ease;
}

button:hover {
  border-color: var(--dbrown);
  color: var(--dbrown);
}

button:active, button:focus {
  border-color: var(--lbrown);
  color: var(--cream);
  background-color: var(--lbrown);
}