.header {
  position: fixed;
  top: 0;
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 5rem;
  border-bottom: var(--dborder);
  background-color: var(--cream);
  z-index: 1000;
}

.h-wrapper {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 6rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.navbar{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--lbrown);
  transition: color 0.3s ease, font-weight 0.3s ease;
}

a:hover .nav-link {
  color: var(--dbrown);
}

.nav-cta {
  font-size: 1rem;
  border-radius: 0;
  color: var(--cream);
  background-color: var(--lbrown);
}

.nav-cta:hover {
  border-color: var(--dbrown);
  color: var(--cream);
  background-color: var(--dbrown);
}

.nav-cta:active {
  border-color: var(--dbrown);
  color: var(--cream);
  background-color: var(--dbrown);
}