.item {
  /* height: 350px; */
  /* width: 300px; */
  padding: 8px;
  border: 1px solid var(--dbrown);
}

.item img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: center;
}

.item h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--lbrown);
}

.item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item p, i {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--lbrown);
}