@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--lbrown);
  background: var(--cream);
}

html {
  font-size: 16px;
}

:root {
  --black: #1F1B18;
  --dbrown: #3A2418;
  --lbrown: #5F3B2C;
  --cream: #F4E8D5;
}

@font-face {
  font-family: 'windhavi';
  src: url('./assets/fonts/windhavi.regular.otf');
}