.hero {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: center;
  justify-content: end;
  padding: 0 24px;
}

.heading {
  font-size: 96px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--dbrown);
}

.heading span:first-child {
  font-size: 135px;
  text-transform: lowercase;
  font-family: windhavi, serif;
  color: var(--lbrown);
}

.heading span:last-child {
  font-weight: 600;
  color: var(--lbrown);
}

.tagline {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: var(--lbrown);
}

.hero-image {
  height: 250px;
  width: 100%;
  background-color: var(--lbrown);
  background-image: url("https://hips.hearstapps.com/ghk.h-cdn.co/assets/18/01/3200x1600/landscape-1514925232-fudgy-beet-brownies-index-ghk-0118.jpg?resize=1200:*");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.hero-image img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
} */

.features {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 60px 0;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature:nth-child(odd) {
  margin-top: 96px;
  flex-direction: column-reverse;
}

.text {
  margin: 8px 0;
}

.text h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.img {
  width: 200px;
  aspect-ratio: 1 / 1.5;
  border: 1px solid var(--dbrown);
  overflow: hidden;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.img img:hover {
  transform: scale(1.1);
}

.catalog {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.catalog h2 {
  margin-bottom: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5rem;
}